/* border: 1px solid red; */
/* #222A35; */
/* rgb(2, 37, 65); */
/* background-color: #222A35; */
*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    box-sizing: border-box;
    list-style:none;
}
a {
    text-decoration: none;
}
ul li {
    list-style:none;
}
.nav{
    border: 1px solid red;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-main{
    border: 1px solid red;
    width: 1000px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white;
    position:absolute;
}
.nav-m-imgbox{
    border: 1px solid red;
    width: 350px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-m-menubox{
    border: 1px solid red;
    width: 600px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-m-menubox a {
    color: #000;
}
.nav-m-menubox > li {
    border: 1px solid red;
    font-weight: bold;
    font-size: 23px;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:flex-end
}

